include _includes/sharedHTMLFunctions

extends layout

block content
  .row.page-header
    .col-lg-12
      h1= locationData.name
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            +outputRating(locationData.rating)
          p= locationData.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title Opening hours
            .panel-body
              +openTime(locationData.opens)              
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              +outputFacilities(locationData.facilities)              
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              img.img-responsive.img-rounded(src=locationData.mapUrl)
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new') Add review
              h2.panel-title Custom reviews
            .panel-body.review-container
              each review in locationReviews
                .row
                  .review
                    .well.well-sm.review-header
                      span.raiting
                        +outputRating(review.rating)
                      span.reviewAuthor= review.author
                      small.reviewTimestamp= review.timestamp
                    .col-xs-12
                      p= review.text              
    .col-xs-12.col-md-3
      p.lead= locationData.description  