//-Output rating
mixin outputRating(rating)
  - for (var i = 1; i <= rating; i++)
    span.glyphicon.glyphicon-star
  - for (i = rating; i <5; i++)
    span.glyphicon.glyphicon-star-empty

//-Output open time (my realization)
mixin openTime(opens)
  - each time, day in opens
    if time.length
      p= day + " : " + time[0] + " : " + time[1]
    else 
      p= day + " : closed"

//-Output open times (author realization)
mixin openingTime(openingTimes)
  if openingTimes
    - each open in openingTimes
      if !open.closed
        p= open.days + " : " + open.opening + " : " + open.closing
      else
        p= open.days + " : closed"      

//-Output fasilities
mixin outputFacilities(facilities)
  - each facilitie in facilities
    span.label.label-warning
      span.glyphicon.glyphicon-ok
      | &nbsp; #{facilitie}
    | &nbsp;

mixin formatDate(dateString)
  -let date = new Date(dateString);
  -let monthNames = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август'];
  -let d = date.getDate();
  -let m = monthNames[date.getMonth()];
  -let y = date.getFullYear();
  -let output = `${d} ${m} ${y}`;
  =output